body{
    font-size: 18px;
    color: #412821;
    background-color: #d4e9c2;
    margin: 1%;
}
h1{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h2{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(47, 62, 18);
}
h3{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(47, 62, 18);
}
p{
    line-height: 1.5;
}
img{
    border: 5px solid rgb(47, 62, 18);
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
}
ul{
    display: list-item;
    list-style: disc;
    margin-left: 20px;
}

.skip-to-content {
    position: absolute;
    top: -40px;
    left: 0;
    padding: 10px;
}

.skip-to-content:focus {
    position: relative;
    top: 0;
}

nav a.current-page {
    background-color: #0a380a;
    color: #d4e9c2;
    font-weight: bold;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 5px dashed #412821;
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin: 10px;
    width: 90%;
}

.gallery-travel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px dashed #412821;
    padding: 10px;
    align-items: center;
    justify-items: center;
    margin: 10px;
    width: 90%;
}
